h1 {
    display: flex;
    justify-content: center;
}

nav {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

section {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav li {
    display: inline;
}

.skills-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
    justify-content: left;
    flex-wrap: wrap;
    padding-inline-start: 20px;
    /* list-style-type: disc; */
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a:hover {
    color: #007bff;
}

nav i {
    font-size: 20px;
}

section li:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
}

nav ul li:nth-child(even) a span {
    text-decoration: none; /* Sublinhado para os itens pares */
}

nav ul li:nth-child(odd)  a span {
    text-decoration: underline; /* Sem sublinhado para os itens ímpares */
}

.fab {
    text-decoration: none; /* Sublinhado para os itens pares */
}

/* Linha separadora */
/* .info-section {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding: 10px 0;
} */

/* Usando Flexbox para alinhar os textos */
.info-line {
    display: flex;
    justify-content: space-between; /* Distribui os itens nas extremidades e no centro */
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(38, 204, 9);
}

/* Ajustando centralização */
.center {
    text-decoration: underline;
    text-align: center;
    flex: 1; /* Faz com que o centro ocupe espaço proporcional */
}

.center:hover {
    color: #007bff;
}

/* Mantendo largura fixa para os textos da esquerda e direita */
.left, .right {
    width: 150px;
    text-align: left;
    background-color: red;
}

.right {
    text-align: right;
}
